.loader {
  position: relative;
  top: 300px;
  left: 50%;
}

.delete-btn,
.edit-btn {
  background-color: #8080803b;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #212529;
  margin-right: 5px;
}
.edit-btn > i:hover {
  color: lightblue;
}
.delete-btn:hover {
  color: lightcoral;
}

.add-btn {
  padding: 5px 20px;
  background: cornflowerblue;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.form-grp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-grp > input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 5px;
  outline: none;
}
